body {
  font-family: 'Segoe UI', sans-serif;
}

.highlight {
  color: #dc3545;
  font-weight: bold;
}

.section-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.cta-buttons a {
  margin: 5px;
}

.team-photo {
  object-fit: cover;
  height: 100%;
}

.box-1, .box-2 {
  background-color: #f8d7da;
  height: 150px;
  border-radius: 12px;
}

.story-text {
  max-width: 800px;
  margin-bottom: 1rem;
}

#team img {
  height: 17px;
  width: 200px;
}